{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Página de Ayuda</title>
        <link rel="stylesheet" href="{% static 'css/ayuda.css' %}">

    </head>
    <body>
        <!-- Header -->
        <header class="header">
            <div class="nav-container">
                <div class="logo">BodegasChile</div>
                <nav class="nav-buttons">
                    <a href="{% url 'inicio' %}" class="nav-btn">Inicio</a>
                    <a href="{% url 'acceso' %}" class="nav-btn">Acceder</a>
                    <a href="{% url 'ayuda' %}" class="nav-btn">Ayuda</a>
                    <a href="#" class="nav-btn">Publicar propiedad</a>
                </nav>

            </div>
        </header>
    </body>
    <script src="{% static 'js/ayuda.js' %}"></script>
</html>
